html {
  height: 100%; }

body {
  height: 100%;
  background-color: #eee; }
  body.offline-mode::before {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.56);
    z-index: 9999; }

.section-view {
  width: auto;
  margin: 5% auto; }

.loader {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid #e4e4e4;
  border-radius: 50%;
  border-top: 3px solid blue;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 1s linear infinite;
  z-index: 9999; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.logoutBtn {
  cursor: pointer; }

.userName {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #9d9d9d;
  display: block; }

.login-form {
  width: 300px;
  margin: auto; }

.list-edit, .list-remove {
  cursor: pointer; }

.sortable-row tbody tr:hover {
  background-color: #d5dfe8; }

.img-thumb {
  width: 56px;
  height: 56px; }
  .img-thumb a {
    display: block; }
  .img-thumb img {
    width: 100%;
    height: 100%;
    background-image: url(cbed3d2e51ab0a2149d2e8795e0d7021.gif);
    background-repeat: no-repeat;
    background-position: center; }

.dashboard-remove-btn {
  position: absolute;
  right: 25px;
  top: 7px;
  cursor: pointer;
  color: grey;
  font-size: 12px; }

.m-t-2 {
  margin-top: 2rem; }

.m-l-1 {
  margin-left: 1rem; }

.m-b-1 {
  margin-bottom: 1rem; }

.field-box .form-group {
  height: 50px; }

span.error {
  color: #a94442;
  font-size: 13px; }

.dashboad-additional-datas, .field-box {
  display: none; }

.field-box {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #eee; }

.active-predefined-fields {
  background-color: #eee;
  padding: 1rem;
  margin: 1rem 0; }
  .active-predefined-fields .checkbox {
    margin: 0; }
    .active-predefined-fields .checkbox label {
      margin-right: 3rem; }
      .active-predefined-fields .checkbox label:last-of-type {
        margin-right: 0; }

.listing-image-preview {
  width: 150px;
  height: 150px;
  background-color: gainsboro;
  float: left;
  margin-right: 2rem;
  margin-bottom: 2rem;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.25);
  background-size: 90px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  background-image: url(7626027def2cbdf5e56b822d7459b5d0.png); }
  .listing-image-preview img {
    width: 100%;
    height: auto; }

.imageControls {
  display: none; }
  .imageControls button[data-option="0.1"] i.ion-ios-search-strong {
    position: relative;
    font-size: 15px; }
    .imageControls button[data-option="0.1"] i.ion-ios-search-strong:after {
      content: '+';
      position: absolute;
      left: 1px;
      font-size: 11px;
      top: 7px;
      margin: auto;
      line-height: 0; }
  .imageControls button[data-option="-0.1"] i.ion-ios-search-strong {
    font-size: 15px;
    position: relative; }
    .imageControls button[data-option="-0.1"] i.ion-ios-search-strong:after {
      content: '-';
      position: absolute;
      left: 2px;
      font-size: 14px;
      top: 6px;
      margin: auto;
      line-height: 0; }

.editList .remove-image {
  display: none; }

/*# sourceMappingURL=style.css.map*/