:root {
  --input-padding-x: .75rem;
  --input-padding-y: .75rem; }

html {
  height: 100%; }

body {
  height: 100%;
  background-color: #f5f5f5;
  font-size: .9rem; }
  body.login-page {
    font-size: 1rem;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center; }
  body.offline-mode::before {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.56);
    z-index: 9999; }

.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: 0 auto; }

.form-label-group {
  position: relative;
  margin-bottom: 1rem; }

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x); }

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out; }

.form-label-group input::-webkit-input-placeholder {
  color: transparent; }

.form-label-group input:-ms-input-placeholder {
  color: transparent; }

.form-label-group input::-ms-input-placeholder {
  color: transparent; }

.form-label-group input::placeholder {
  color: transparent; }

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3); }

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777; }

.brand-name {
  font-size: 15px;
  font-weight: 500; }

.section-view {
  width: auto; }

.loader {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid #e4e4e4;
  border-radius: 50%;
  border-top: 3px solid blue;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 1s linear infinite;
  z-index: 9999; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.form-signin {
  width: 100%;
  max-width: 330px;
  min-width: 330px; }

/* .form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
} */
.list-edit, .list-remove {
  cursor: pointer; }

.sortable-row tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.03); }

.img-thumb {
  width: 30px;
  height: 30px; }
  .img-thumb a {
    display: block; }
  .img-thumb img {
    width: 100%;
    height: 100%;
    background-image: url(cbed3d2e51ab0a2149d2e8795e0d7021.gif);
    background-repeat: no-repeat;
    background-position: center; }

.dashboard-remove-btn {
  position: absolute;
  right: 13px;
  top: 7px;
  cursor: pointer;
  color: grey;
  font-size: 12px; }

.m-t-2 {
  margin-top: 2rem; }

.m-l-1 {
  margin-left: 1rem; }

.m-b-1 {
  margin-bottom: 1rem; }

.field-box .form-group {
  height: 50px; }

span.error {
  font-size: 80%;
  color: #dc3545; }

.dashboad-additional-datas, .field-box {
  display: none; }

.field-box {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #eee; }

.active-predefined-fields {
  padding: 1rem;
  margin: 1rem 0; }
  .active-predefined-fields .checkbox {
    margin: 0; }
    .active-predefined-fields .checkbox label {
      margin-right: 3rem; }
      .active-predefined-fields .checkbox label:last-of-type {
        margin-right: 0; }

.listing-image-preview {
  width: 150px;
  height: 150px;
  min-width: 150px;
  min-height: 150px;
  background-color: gainsboro;
  float: left;
  margin-right: 2rem;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.25);
  background-size: 90px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  background-image: url(7626027def2cbdf5e56b822d7459b5d0.png); }
  .listing-image-preview img {
    width: 100%;
    height: auto; }

.imageControls {
  display: none; }
  .imageControls button[data-option="0.1"] i.ion-ios-search-strong {
    position: relative;
    font-size: 15px; }
    .imageControls button[data-option="0.1"] i.ion-ios-search-strong:after {
      content: '+';
      position: absolute;
      left: 1px;
      font-size: 11px;
      top: 7px;
      margin: auto;
      line-height: 0; }
  .imageControls button[data-option="-0.1"] i.ion-ios-search-strong {
    font-size: 15px;
    position: relative; }
    .imageControls button[data-option="-0.1"] i.ion-ios-search-strong:after {
      content: '-';
      position: absolute;
      left: 2px;
      font-size: 14px;
      top: 6px;
      margin: auto;
      line-height: 0; }

.editList .remove-image {
  display: none; }

.table-responsive {
  display: table !important;
  float: left;
  width: 100% !important; }

table.dataTable {
  border-collapse: collapse !important; }

.dataTables_wrapper {
  clear: both; }
  .dataTables_wrapper.container-fluid {
    padding-right: 0;
    padding-left: 0; }

div.dataTables_wrapper div.dataTables_info {
  color: gray; }

.page-item .page-link {
  font-size: .8rem !important; }

.shadow-box {
  background-color: white;
  padding: 1.5em;
  -webkit-box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.3);
  border-radius: 3px; }

/* .listing-table {
  thead {
    background-color: #f1f0f0;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.24);
  }
} */
.breadcrumb {
  background-color: transparent;
  margin-bottom: 0; }
  .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    color: #a5d6f1; }
  .breadcrumb .breadcrumb-item a {
    color: #a5d6f1; }
  .breadcrumb .breadcrumb-item.active {
    color: white; }

.table.dataTable {
  margin-bottom: 20px !important; }

.table thead th {
  border-bottom: solid 1px  black;
  border-top: none; }

.table tr td {
  border-top: none;
  vertical-align: middle; }

.table tr:nth-child(even) {
  background-color: #f9f9f9; }

.box-shadow {
  -webkit-box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.09);
          box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.09);
  border: none; }

h6.font-weight-400 {
  font-weight: 400; }

.card-deck .card {
  min-width: 220px; }

.module-item .card-header {
  background: transparent;
  border: none; }

.module-item .card-body .card-title {
  font-weight: 400;
  font-size: 1.5rem; }

.module-item .btn-block {
  max-width: 110px;
  margin: auto; }

.img-section-arrange {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.custom-file-label {
  height: auto !important; }
  .custom-file-label:after {
    height: auto !important; }

[data-action="read"] .img-section-arrange {
  display: none; }

.subdetail-section {
  /*  .form-control:disabled, .form-control[readonly] {
   padding: 0;
   font-size: 14px;
   background-color: transparent;
   border: none;
 } */ }
  .subdetail-section .subDynamicElem {
    border: dashed 1px transparent; }
    .subdetail-section .subDynamicElem[contenteditable="true"] {
      border-color: #007bff; }

.subtable-create-new {
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.31);
          box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.31);
  border-radius: 3px;
  /* div[contenteditable="true"] {
    border: solid 1px #b1b4b7;
    background-color: #ffffff;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.21);
    border-radius: 3px;
    outline: none !important;
    &:focus {
      box-shadow: 0px 0px 2px #b1b4b7;
    }
  } */ }
  .subtable-create-new td {
    border-right: solid 1px #eae6e6;
    /* div[contenteditable="true"] {
        position: relative;
        &:after {
          position: absolute;
          content: attr(data-placeholder);
          color: gray;
        }
        
      } */ }
    .subtable-create-new td:last-of-type {
      border-right: none; }
  .subtable-create-new div[data-placeholder]:not(:focus):not([data-div-placeholder-content]):before {
    content: attr(data-placeholder);
    float: left;
    margin-left: 2px;
    color: #b3b3b3; }

.contenteditable-editing {
  border-color: #ff0000 !important;
  outline: none;
  -webkit-box-shadow: 0px 0px 1px #ff0000 !important;
          box-shadow: 0px 0px 1px #ff0000 !important; }
  .contenteditable-editing:focus {
    -webkit-box-shadow: 0px 0px 2px #ff0000 !important;
            box-shadow: 0px 0px 2px #ff0000 !important; }

.disabled-subdetailsection {
  position: relative; }
  .disabled-subdetailsection:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.63);
    z-index: 1; }

.custom-file-input[disabled] + .custom-file-label, .custom-file-input[disabled="disabled"] + .custom-file-label {
  background-color: #e9ecef; }

.custom-file-label {
  overflow: hidden;
  padding-right: 5rem;
  text-overflow: ellipsis;
  white-space: nowrap; }

/*# sourceMappingURL=style.css.map*/